/*
* @Author: Gavin
* @Date:   2021-02-10 18:41:48
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-10 18:58:37
*/
.footer {
    background-color: $color-dark-purple;
    padding: 7rem 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 50em) {
        flex-direction: column;
    }

    h3 {
        color: $color-light-brown;

        @media screen and (max-width: 50em) {
            margin-bottom: 2rem;
        }
    }

    .socialIcons {
        justify-content: flex-end;

        div:not(:last-child) {
            margin-right: 4.8rem;
        }
    }
}