/*
* @Author: Gavin
* @Date:   2021-01-29 20:05:09
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-07 04:39:30
*/
.header {
    height: 80rem;
    background: url(../images/noise.png), $color-dark-purple;
    color: $color-light-brown;
    padding-top: 1.6rem;
    padding-left: 15rem;
    padding-right: 15rem;

    @media screen and (max-width: 75em) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @media screen and (max-width: 56.25em) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media screen and (max-width: 47.8125em) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }
}