/*
* @Author: Gavin
* @Date:   2021-01-29 20:05:09
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-07 07:00:06
*/
.header {
    height: 80rem;
    background: url(../images/noise.png), $color-dark-purple;
    color: $color-light-brown;
    padding-top: 1.6rem;
    padding-left: 15rem;
    padding-right: 15rem;

    @media screen and (max-width: 75em) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @media screen and (max-width: 56.25em) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media screen and (max-width: 47.8125em) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }
}

.content {
    height: calc(100% - 5.6rem);
    display: grid;
    align-content: center;
    grid-template-columns: calc(100% - 49rem) 49rem;

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21.8rem;
}