/*
* @Author: Gavin
* @Date:   2021-01-30 01:56:32
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-10 01:08:48
*/

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 15rem;
    padding-right: 15rem;
    height: 10rem;
    background: url(../images/noise.png), $color-dark-purple;
    transition: height .2s, top .3s;
    z-index: 999;

    @media screen and (max-width: 75em) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @media screen and (max-width: 56.25em) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media screen and (max-width: 47.8125em) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    &.sticky {
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .5);
        height: 8.7rem;
        backdrop-filter: blur(8px);
        background: rgba(54, 29, 50, .85);
    }

    &__links {
        list-style: none;
        display: flex;
        width: 70rem;
        justify-content: space-between;

        @media screen and (max-width: 62.5em) {
            width: 60rem;
        }

        @media screen and (max-width: 56.25em) {
            width: 55rem;
        }

        @media screen and (max-width: 47.8125em) {
            display: none;
        }

        a:link,
        a:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-light-brown;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: .3rem;
            padding-left: 1rem;
            padding-right: 1rem;
            transition: transform .1s;
        }

        &--mobile {
            visibility: hidden;
            list-style: none;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            position: fixed;
            align-items: center;
            background-color: $color-light-brown;
            padding-top: 12.8rem;
            padding-bottom: 16.8rem;
            transform: translateX(100%);
            transition: transform .5s;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            z-index: 999;

            @media screen and (max-width: 47.8125em) {
                visibility: visible;
            }

            @media screen and (max-width: 47.8125em) and (orientation: landscape) {
                padding-top: 8rem;
                padding-bottom: 3rem;
            }


            a:link,
            a:visited {
                display: inline-block;
                text-decoration: none;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: .3rem;
                padding-left: 1rem;
                padding-right: 1rem;
                transition: transform .1s;
                color: $color-dark-purple;
            }
        }
    }


    &__link {
        border: 1px solid transparent;
        transition: border-color .1s;

        &:hover {
            border: 1px solid $color-light-brown;

            a {
                background-color: $color-light-brown;
                color: $color-dark-purple;
                transform: translate(-3px, -4px);

                &:active {
                    transform: translate(0);
                }
            }
        }

        &--mobile {
            border: 1px solid transparent;
            transition: border-color .1s;

            &:hover {
                border: 1px solid $color-dark-purple;

                a {
                    background-color: $color-dark-purple;
                    color: $color-light-brown;
                    transform: translate(-3px, -4px);

                    &:active {
                        transform: translate(0);
                    }
                }
            }
        }
    }

    &__hamburger {
        width: 4.8rem;
        height: 3rem;
        cursor: pointer;
        display: none;
        position: relative;
        z-index: 999;

        @media screen and (max-width: 47.8125em) {
            display: flex;
            flex-direction: column;
        }

        span {
            display: block;
            height: 2px;
            transform: translateY(1.4rem);

            &::before,
            &::after {
                height: 2px;
                content: "";
                width: 100%;
                position: absolute;
                transition: transform .2s;
            }
        }

        &--closed {
            background-color: $color-light-brown;

            &::before,
            &::after {
                background-color: $color-light-brown;
            }

            &::before {
                top: -1.4rem;
            }

            &::after {
                top: 1.4rem;
            }
        }

        &--open {
            display: none;

            &::before,
            &::after {
                top: 0;
                background-color: $color-dark-purple;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

        }
    }
}

.logo {
    width: 13rem;
    display: flex;
    align-items: center;

    a {
        display: flex;

        &:hover svg {
            filter: brightness(1.05);
        }

        svg {
            @media screen and (max-width: 43.75em) {
                height: 4.6rem;
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: 2.6rem;
        letter-spacing: .32px;
        padding-left: .7rem;

        @media screen and (max-width: 43.75em) {
            font-size: 1.8rem;
        }
    }
}

.noScroll {
    overflow: hidden;
}