/*
* @Author: Gavin
* @Date:   2021-02-09 16:01:29
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-09 16:07:53
*/
.error {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../images/noise.png), $color-dark-purple;
	color: $color-light-brown;

	h1 {
		font-size: 16rem;
		line-height: .7;
	}
}