/*
* @Author: Gavin
* @Date:   2021-02-07 04:57:18
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-07 05:02:15
*/
.orangeLine {
	width: 6.8rem;
	height: .4rem;
	background-color: $color-orange;
	margin-bottom: 1.3rem;
}