/*
* @Author: Gavin
* @Date:   2021-01-29 20:07:19
* @Last Modified by:   Gavin
* @Last Modified time: 2021-02-07 04:58:49
*/
$color-dark-purple: rgb(54, 29, 50);
$color-light-brown: rgb(254, 238, 195);
$color-floral-white: rgb(255, 249, 233);
$color-orange: rgb(245, 89, 81);